/*
 * CSS File for the solution
 * Assignment 03
 * You can modify these styles but you don't have to
 */

/*
 VARIABLES
*/
:root {
  /* Core colours */
  /* https://coolors.co/palette/e63946-f1faee-a8dadc-457b9d-1d3557 */
  --colour-amaranth: #e63946;
  --colour-peppermint: #f1faee;
  --colour-aquaisland: #a8dadc;
  --colour-wedgewood: #457b9d;
  --colour-cello: #1d3557;

  /* Header configuration */
  --header-heading-colour: var(--colour-peppermint);

  /* Body configuration */
  --body-default-colour: var(--colour-cello);
  --body-background-colour: var(--colour-peppermint);
}

/*
  PAGE / BODY
*/
body {
  font-family: Arial, Helvetica, sans-serif;
  color: var(--body-default-colour);
  background-color: var(--body-background-colour);
}

main {
  /*min-height: 100vh;
  max-width: 500px;
  min-width: 500px;
  padding: 50px;*/
  border-radius: 35px;
  box-shadow: 0 0 0 10px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: center;
  align-items: center;
}

main h1 {
  font-size: 2rem;
}


/****** Screen reader text utility clsas *******/
.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}

/*Styles for background*/
.container{
  width:  100%;
  min-height: 100vh;
  background: linear-gradient(50deg, #a8dadc, #1d3557);
  padding: 10px;
}


form.exercise-list {
  display: grid;
  grid-template-columns: 3fr 1fr;
  gap: 0.5rem;
  margin-bottom: 30px;
}

form.exercise-list label {
  grid-column-start: 1;
  grid-column-end: 4;
}


input[type="text"] {
  /*background-color: white;*/
  border: none;
  /*color: white;*/
  font-weight: bold;
  padding: 10px 10px;
  text-decoration: none;
  cursor: pointer;
  border-radius: 10px;
  /*box-shadow: 0 0 15px 4px rgba(0, 0, 0, 0.06);*/
}

/*When nothing written*/
main .empty-state {
  margin: 10px 0px 10px 0px;
  border: 10px solid #003049;
  padding: 20px;
  border-radius: 20px;

  background-color: #f4de52;
  text-align: center;
  font-size: 1.4rem;
}

main .hidden {
  display: none;
}

.apptodo{
  width: 100%;
  max-width: 540px;
  background: whitesmoke;
  margin: 100px auto 20px;
  padding: 40px 30px 70px;
  border-radius: 10px;
}

.list-items{
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: white;
  border-radius: 30px;
  padding-left: 20px;
}

input{
  flex: 1;
  border: none;
  outline: none;
  background:transparent;
  pading: 10px;
  font-weight: 14px;
}

button{
  border: none;
  outline: none;
  padding: 16px 50px;
  background: #457b9d;
  color: black;
  font-size: 16px;
  cursor: pointer;
  border-radius: 40px;
}

/*
.apptodo{
  background: #a8dadc;
  border-radius: 15px;
  margin: 100px auto 20px;
  padding: 50px;
  width: 100%;
  max-width: 530px;
  align-content: center;
}

.apptodo h2{
  color: rgb(112, 112, 112);
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}
*/

